<%- include('partials/header'); %>

<header class="masthead" style="background-image: url('/images/about-bg.jpg')"> 
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container contain">
<h1 class="text-center">It is a great honor to be received your attention</h1>
<h5 class="mb-3"> Free To Write is a public community where people can share their experience, knowledge that they feel interesting or something inpired to have a nice day! </h5>
<h4>About me:</h4>
<ul>
    <li>My name is IvanD</li>
    <li>I am a student of University of Information Technology (VNU-HCM)</li>
    <li>I am currently pursuing Computer Science</li>
</ul>

<h4>This is a list of things I do:</h4>
<ul>
    <li>Design web with Embedder Javascript</li>
    <li>Build backend with ExpressJS</li>
    <li>Use MongoDB as database</li>
    <li>Use EJS as template engine</li>
    <li>Use Bootstrap for styling</li>
    <li>Use NodeJS for server</li>
    <li>Use Git for version control</li>
    <li>Use Vercel to deploy to web</li>
</ul>


<%- include('partials/footer'); %>
