<%- include('partials/header'); %>

<header class="masthead" style="background-image: url('/images/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container contain">
    <h1>Feel free to contact us. The more feedbacks we get, the better our webiste can improves </h1>
    <p> This website is just a sample demo for practicing purpose, if you have some ideas or catch error please contact us: </p>
    <ul>
        <li> Email: Free2Write@gmail.com </li>
        <li> Phone: 096969969 </li>
        <li> Address: 69/96 Main Street, Ward 1, District 1, Ho Chi Minh City </li>
    </ul>
<%- include('partials/footer'); %>