<%- include('partials/header'); %>
  <section class="h-100 gradient-form" style="background-color: #eee">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1">The more the merrier</h4>
                  </div>

                  <form action="/api/auth/login">
                    <p>Please login to your account</p>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example11">Username</label>
                      <input type="username" id="form2Example11" name="username" class="form-control" placeholder="Username" />
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example22">Password</label>
                      <input type="password" id="form2Example22" name="password" class="form-control" placeholder="Password" />
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                        Log in
                      </button>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger">
                        <a href="/register" style="text-decoration: none">Create new</a>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2"
                style="background-image: url('/images/home-bg.jpg')">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Fukashigi no Carte</h4>
                  <p class="small mb-0">
                    Katarenai nemurenai toroimerai Anata no miteru shoutai Daremo
                    yomenai karute Fukashigi shiritai dake Uso mo genjitsu mo
                    Docchi mo shinjitsu datta no hontou yo Kyou mo hitorigoto
                    Nannimo muri wo shinaide watashi aisaretai
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer'); %>

<script>
  const form = document.querySelector('form');
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const username = form.username.value;
    const password = form.password.value;
    
    try{
      const res = await fetch('/api/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({username, password})
      });
    const data = await res.json();
    if (data.message) {
      alert(data.message);
    } 
    console.log(data.user);
    if (data.user){
      location.assign('/');
    }
    } catch (err) {
      console.log(err);
    }
  });
</script>